# Ignore Terraform state files
*.tfstate
*.tfstate.backup
*.terraform.lock.hcl

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore crash log files
crash.log

# Ignore Terraform .terraform directory
.terraform/
.terragrunt-cache/
# Ignore any IDE-specific files (Optional)
.idea/
.vscode/
